{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Categories List{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Edit Category</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="add-category" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" name="category_name" id="category_name" value="{{ category.category_name }}" required>
                                        <label for="news_title">Category Name</label> 
                                    </div>
                                </div>
                                
                                <br>

                                <div>
                                    <label class="form-label">Category Tags</label>
                                    <div class="col-md-8">
                                        <select style="width: 100%;" class="multiple-select2-tag" name="category_type" id="category_type" value="{{ category.category_type }}" data-placeholder="Choose ...">
                                            <option value="Course">Course</option>
                                            <option value="News">News</option>
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <div class="col-md-8">
                                    <label for="image_upload">Upload Image</label>
                                    <input type="file" class="filestyle" name="image_upload" id="image_upload" data-buttonname="btn-secondary" placeholder="Upload your image....">
                                </div>
                                <input type="hidden" name="image_upload" id="image_upload" value="{{ category.category_image }}" >

                                <br>

                                <div>
                                    <label class="form-label">Category Tags</label>
                                    <div class="col-md-8">
                                        <select style="width: 100%;" class="multiple-select2-tag" name="category_tags" id="category_tags" multiple="multiple" multiple data-placeholder="Choose Tags ...">
                                            {% for tags in category.tags %}
                                                <option value="{{tags}}" selected hidden>{{tags}}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right;">
                                <button style="width: 15%;" type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/dist/bootstrap-maxlength.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

<script>
    $(document).ready(function() {
    $('.multiple-select2-tag').select2({
        tags: true,
        tokenSeparators: [',', ' ']
    });
});
</script>
{% endblock extra_javascript %}