{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Language List{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Language List</h4>
                    <tr>
                        <td>
                            <div>
                                <button type="submit" form="language-status" name="enable-language"
                                    class="btn btn-success btn-lg waves-effect waves-light">Enable</button>
                                <button type="submit" form="language-status" name="disable-language"
                                    class="btn btn-secondary btn-lg waves-effect waves-light">Disable</button>
                                <button type="button" class="btn btn-primary btn-lg waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Add New Language +
                                </button>
                            </div>
                            <!-- Add New Language Modal-->
                            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add New Language</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        <form class="needs-validation" enctype="multipart/form-data" method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="mb-3 row">
                                                <label for="example-text-input" class="col-md-3 col-form-label">Locale</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="text" placeholder="Enter locale ...." name="locale_name" id="locale_name" required>
                                                </div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="example-text-input" class="col-md-3 col-form-label">Language Name</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="text" placeholder="Enter Language Name...." name="language_name" id="language_name" required>
                                                </div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="example-text-input" class="col-md-3 col-form-label">Language File</label>
                                                <div class="col-md-9">
                                                    <input type="file" class="filestyle" name="language_file" id="language_file" data-buttonname="btn-secondary" placeholder="Upload your image...." required>
                                                </div>
                                                <div class="invalid-feedback">Looks good!</div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="example-text-input" class="col-md-3 col-form-label">Language Image</label>
                                                <div class="col-md-9">
                                                    <input type="file" class="filestyle" name="image_upload" id="image_upload" data-buttonname="btn-secondary" placeholder="Upload your image...." required>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" name='add-language' class="btn btn-primary mr-auto">Add Language</button>
                                            </div>
                                        </form>

                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        </td>
                    </tr>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-primary" role="alert">
                        {{ message }}
                        {% endif %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-primary" role="alert">
                        {{ message }}
                        </div>   
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="language-status" method="POST">
                            {% csrf_token %}
                            <table id="key-datatable" class="table table-striped table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th style="width: 2%"></th>
                                        <th style="width: 10%">Image</th>
                                        <th style="width: 10%">Name</th>
                                        <th style="width: 10%">Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for language in language_list %}
                                    <tr style="text-align: center;">
                                        <td>
                                            <input style="width:20px; height:30px; background:white; border-radius:5px; border:2px solid #555;" 
                                            type="checkbox" name="language-check" value="{{language.id}}">
                                        </td>
                                        <td>
                                            <img src="{{language.image}}" width="50" height="50">
                                        </td>
                                        <td>
                                            <a href="{% url 'language-update' language.id %}">
                                                {{ language.name }}
                                            </a>
                                        </td>
                                        <td style="display: block; text-align: center; margin: auto;">
                                            {% if language.is_active == True %}
                                            <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light">Active</button> -->
                                            <h4>
                                                <span class="badge badge-soft-info">Active</span>
                                            </h4>
                                            {% elif language.is_active == False %}
                                            <h4>
                                                <span class="badge badge-soft-danger">Inactive</span>
                                            </h4>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/dist/bootstrap-maxlength.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>

{% endblock extra_javascript %}