{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Coin List{% endblock title %}
{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Coin List</h4>
                    <tr>
                        <td>
                            <div>
                                <button type="submit" form="disable-coin" name="enable-coin"
                                    class="btn btn-success btn-lg waves-effect waves-light">Enable</button>
                                <button type="submit" form="disable-coin" name="disable-coin"
                                    class="btn btn-secondary btn-lg waves-effect waves-light">Disable</button>
                                <!-- Small modal -->
                                <button type="button" class="btn btn-primary btn-lg waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Add New Coin +
                                </button>
                            </div>

                            <!-- Add New Coin Modal-->
                            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New Coin</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <form method="POST">
                                                {% csrf_token %}
                                                <table id="state-saving-datatable"
                                                    class="table table-striped table-bordered dt-responsive nowrap"
                                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Image</th>
                                                            <th>Coin Name</th>
                                                            <th>Short Name</th>
                                                            <!-- <th></th> -->
                                                        </tr>
                                                    </thead>

                                                    
                                                    <tbody>
                                                        {% for coin in data %}
                                                        <tr>
                                                            <td><input type="checkbox" name="addCoin" value="{{ coin.id }}"></td>
                                                            <td>
                                                                <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{coin.id}}.png" width="50" height="50"> 
                                                            </td>
                                                            <td> {{ coin.symbol }} </td>
                                                            <td> {{ coin.symbol }} </td>
                                                            <!-- <td>
                                                                <button type="button" id='checkButton{{coin.id}}'
                                                                    class="btn btn-success btn-rounded waves-effect waves-light"
                                                                    onclick="buttonChange('{{ coin.id }}')">Add +</button>
                                                            </td> -->
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="text-center">
                                                    <button type="submit" name='add-coin' class="btn btn-primary mr-auto">Save changes</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </td>
                    </tr>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="disable-coin" method="POST">
                            {% csrf_token %}
                            <table id="key-datatable" class="table table-striped table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th style="width: 5%"></th>
                                        <th style="width: 10%">Image</th>
                                        <th style="width: 10%">Name</th>
                                        <th style="width: 10%">Short Name</th>
                                        <th style="width: 10%">Added to Watchlist</th>
                                        <th style="width: 10%">User Posts</th>
                                        <th style="width: 10%">Current</th>
                                        <th style="width: 10%">Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for coin in internal_coins %}
                                    <tr style="text-align: center;">
                                        <td>
                                            <input style="width:20px; height:30px; background:white; border-radius:5px; border:2px solid #555;" 
                                            type="checkbox" name="disableCoin" value="{{coin.id}}">
                                        </td>
                                        <td><img src="{{ coin.logo }}" width="40" height="40"></td>
                                        <td>{{ coin.symbol }}</td>
                                        <td>{{ coin.symbol }}</td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td style="display: block; text-align: center; margin: auto;">
                                            {% if coin.active == True %}
                                            <!-- <button type="button" class="btn btn-success btn-rounded waves-effect waves-light">Active</button> -->
                                            <h4>
                                                <span class="badge badge-soft-info">Active</span>
                                            </h4>
                                            {% elif coin.active == False %}
                                            <h4>
                                                <span class="badge badge-soft-danger">Inactive</span>
                                            </h4>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/dist/bootstrap-maxlength.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

<script>
    function buttonChange(index) {
        var id = "checkButton" + index.toString();
        document.getElementById(id).className = "btn btn-danger btn-rounded waves-effect waves-light";
        document.getElementById(id).innerHTML = "Added";
    }
</script>
{% endblock extra_javascript %}