{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Update News{% endblock title %}
{% block extra_css %}

<!-- Plugins css -->
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

<!-- quill css -->
<link href="{% static 'libs/quill/dist/quill.core.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/quill/dist/quill.snow.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">

{% endblock extra_css %}
{% block content %}

<h1>View News</h1>


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update News</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

   <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" name="news_title" id="news_title" placeholder="News Title" value="{{ news.news_title }}" required>
                                            <label for="news_title">News Title</label> 
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <label for="image_upload">Upload Image</label>
                                        <input type="file" class="filestyle" name="image_upload" id="image_upload" data-buttonname="btn-secondary" placeholder="Upload your image....">
                                    </div>
                                    <input type="hidden" name="image_upload" id="image_upload" value="{{ news.img }}" >
                                    <br>

                                    <div class="col-md-8">
                                        <div class="form-floating mb-2">
                                            <label for="tags">Tags</label>
                                            <select style="width: 100%;" class="multiple-select2-tag" name="tags" id="tags" multiple="multiple" multiple data-placeholder="Choose Tags ...">
                                                <optgroup label="Crypto Tags">
                                                    <option value="cryptocurrency">CryptoCurrency</option>
                                                    <option value="ADA">Cardano</option>
                                                    <option value="ETH">Ethereum</option>
                                                </optgroup>
                                                <optgroup label="Blockchain Tags">
                                                    <option value="BC">Blockchain</option>
                                                    <option value="B">Blocks</option>
                                                </optgroup>
                                                {% for tags in news.tags %}
                                                    <option value="{{tags}}" selected hidden>{{tags}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <label class="form-label">Enter the news content</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" type="text" name="content" id="content" rows="3">{{ news.content }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <div style="text-align: right;">
                                <button style="width: 15%;" type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>       
        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        {% for news in news_details %}
                        <form class="row g-3 needs-validation" method="post">
                            {% csrf_token %}                                        
                            <br>
                            <div class="row">
                                <iframe width="600" height="600" srcdoc="{{ news.content }}"></iframe>
                            </div>

                        {% endfor %}
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>

{% endblock content %}
{% block extra_javascript %}
<!-- dropzone js -->
<script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

<!--Quill js-->
<script src="{% static 'libs/quill/dist/quill.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'js/pages/form-editor.init.js' %}"></script>
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>

<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
    $('.multiple-select2-tag').select2();
});
</script>

<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/spectrum-colorpicker2/dist/spectrum.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/dist/bootstrap-maxlength.min.js' %}"></script>

{% endblock extra_javascript %}